# COPIE ESTE ARQUIVO PARA .env E PREENCHA

# Obrigatórios
TELEGRAM_TOKEN=8364643403:AAHyeBI0rJZGANfXYn6KAJI-NfVgM4f1L38
GROQ_API_KEY=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
ADMIN_CHAT_ID=SEU_ID_TELEGRAM_AQUI

# Opcionais
GROQ_MODEL=llama3-70b-8192
PORT=5000
ENV=production
